*, *::before, *::after {
  box-sizing: border-box;
  font-family: Consolas, sans-serif;
  font-weight: normal;
}

body {
  background: linear-gradient(to right, #00AAFF, #00ff6c);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 96vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size:  2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .50);
} 

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1,5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.footer {
  display: flex;
  justify-content: center;
  position: fixed; 
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

a:hover {
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
}

@media (min-width: 576px) {
  .calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .8);
  }
}

@media (max-width: 576px) {
  .calculator-grid {
    height: 400px;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
  }

  .calculator-grid button {
    font-size: 1.5rem;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  @keyframes clickAnimation {
    0%   {background-color: rgba(255, 255, 255, .50);}
    50%  {background-color: rgba(255, 255, 255, .8);}
    100% {background-color: rgba(255, 255, 255, .50);}
  }

  .calculator-grid button:hover {
    animation-name: clickAnimation;
    animation-duration: 300ms;
  }

  .footer {
    position: relative;
    margin-bottom: 0;
  }
}